# Bibliotecas

In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [37]:
dados_pede = pd.read_excel('C:\\Users\\ferre\\OneDrive\\Cursos\\Pós Graduação - Data Analytics - FIAP\\Pós Tech Fiap - Tainá e Keila - Grupo 79\Datathon\\venv_streamlit\\tb_pesquisa_desenvolvimento_educacional_passos.xlsx')
dados_pede.head()

,ANO,ANOS_PM,ANO_INGRESSO,BOLSISTA,CF,CG,CT,DEFASAGEM,DESTAQUE_IDA,DESTAQUE_IEG,...,NOTA_PORT,PEDRA,PONTO_VIRADA,QTD_AVAL,REC_AVA_1,REC_AVA_2,REC_AVA_3,REC_AVA_4,SINALIZADOR_INGRESSANTE,TURMA
0,2020,2,NaN,NaN,NaN,NaN,NaN,NaN,Ponto a melhorar em 2021: Empenhar-se mais nas...,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,Ametista,Não,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020,2,NaN,NaN,NaN,NaN,NaN,NaN,Ponto a melhorar em 2021: Empenhar-se mais nas...,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,Ametista,Não,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,2,NaN,NaN,NaN,NaN,NaN,NaN,Ponto a melhorar em 2021: Empenhar-se mais nas...,Ponto a melhorar em 2021: Melhorar a sua entre...,...,NaN,Quartzo,Não,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,1,NaN,NaN,NaN,NaN,NaN,NaN,Seu destaque em 2020: As suas boas notas na Pa...,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,Ametista,Não,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
dados_externos = pd.read_excel('C:\\Users\\ferre\\OneDrive\\Cursos\\Pós Graduação - Data Analytics - FIAP\\Pós Tech Fiap - Tainá e Keila - Grupo 79\Datathon\\venv_streamlit\\tb_populacao_economia_genero_idade.xlsx')
dados_externos.head()

,Município,Salário médio mensal dos trabalhadores formais,Índice de Desenvolvimento Humano Municipal (IDHM),PIB per capita,Área da unidade territorial,População no último censo,Densidade demográfica habitante/km²,Pessoas em idade elegível,Distância
0,Adamantina,2.2,0.790,38997.12,411.987,34687,84.19,7609,499.141743
1,Adolfo,1.8,0.730,32578.28,211.055,4351,20.62,1064,369.221881
2,Aguaí,2.3,0.715,35551.70,474.554,32072,67.58,8725,136.239243
3,Águas da Prata,2.2,0.781,25297.02,142.673,7369,51.65,1580,145.356177
4,Águas de Lindóia,1.9,0.745,30971.23,60.126,17930,298.21,4089,105.653242

In [73]:
dados_externos.isnull().sum()

Município                                             0
Salário médio mensal dos trabalhadores formais        0
Índice de Desenvolvimento Humano Municipal (IDHM)     0
PIB per capita                                        0
Área da unidade territorial                           0
População no último censo                             0
Densidade demográfica habitante/km²                   0
Pessoas em idade elegível                             0
Distância                                            12
dtype: int64

In [72]:
dados_externos.shape

(645, 9)

In [40]:
dados_pede.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4047 entries, 0 to 4046
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ANO                       4047 non-null   int64
 1   ANOS_PM                   728 non-null    object
 2   ANO_INGRESSO              862 non-null    float64
 3   BOLSISTA                  862 non-null    object
 4   CF                        862 non-null    float64
 5   CG                        862 non-null    float64
 6   CT                        862 non-null    float64
 7   DEFASAGEM                 686 non-null    float64
 8   DESTAQUE_IDA              1590 non-null   object
 9   DESTAQUE_IEG              1590 non-null   object
 10  DESTAQUE_IPV              1565 non-null   object
 11  FASE                      1548 non-null   float64
 12  IAA                       2275 non-null   float64
 13  IAN                       2275 non-null   float64
 14  IDA                       2275 non-null   float64
 15  IDADE_ALUNO               728 non-null    object
 16  IEG                       2275 non-null   float64
 17  INDE                      2276 non-null   object
 18  INDE_CONCEITO             728 non-null    object
 19  INDICADO_BOLSA            862 non-null    object
 20  INSTITUICAO_ENSINO_ALUNO  1414 non-null   object
 21  IPP                       2275 non-null   float64
 22  IPS                       2275 non-null   float64
 23  IPV                       2275 non-null   float64
 24  NIVEL_IDEAL               1548 non-null   object
 25  NOME                      4047 non-null   object
 26  NOTA_ING                  285 non-null    float64
 27  NOTA_MAT                  860 non-null    float64
 28  NOTA_PORT                 860 non-null    float64
 29  PEDRA                     2276 non-null   object
 30  PONTO_VIRADA              2250 non-null   object
 31  QTD_AVAL                  862 non-null    float64
 32  REC_AVA_1                 1548 non-null   object
 33  REC_AVA_2                 1548 non-null   object
 34  REC_AVA_3                 1312 non-null   object
 35  REC_AVA_4                 971 non-null    object
 36  SINALIZADOR_INGRESSANTE   686 non-null    object
 37  TURMA                     1548 non-null   object
dtypes: float64(17), int64(1), object(20)
memory usage: 1.2+ MB

In [41]:
idade_aluno = dados_pede[['NOME', 'IDADE_ALUNO']]
#.groupby('IDADE_ALUNO').count()
idade_aluno.head()

      NOME IDADE_ALUNO
0  ALUNO-1          11
1  ALUNO-2         NaN
2  ALUNO-3          12
3  ALUNO-4          10
4  ALUNO-5          10

In [42]:
idade_aluno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4047 entries, 0 to 4046
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NOME         4047 non-null   object
 1   IDADE_ALUNO  728 non-null    object
dtypes: object(2)
memory usage: 63.4+ KB

In [ ]:
idade_aluno['IDADE_ALUNO'] = idade_aluno['IDADE_ALUNO'].str.replace('D108', '0')

In [57]:
idade_aluno['IDADE_ALUNO'] = idade_aluno['IDADE_ALUNO'].fillna(0).astype(int)

C:\Users\ferre\AppData\Local\Temp\ipykernel_11848\3174307791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idade_aluno['IDADE_ALUNO'] = idade_aluno['IDADE_ALUNO'].fillna(0).astype(int)

In [58]:
idade_aluno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4047 entries, 0 to 4046
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NOME         4047 non-null   object
 1   IDADE_ALUNO  4047 non-null   int32
dtypes: int32(1), object(1)
memory usage: 47.6+ KB

In [62]:
#idade_aluno['IDADE_ALUNO'].min()

idade_aluno[idade_aluno['IDADE_ALUNO'] > 0].min()

NOME           ALUNO-1
IDADE_ALUNO          7
dtype: object

In [60]:
idade_aluno['IDADE_ALUNO'].max()

20

In [66]:
idade_aluno.loc[idade_aluno['IDADE_ALUNO'] == 7]

            NOME  IDADE_ALUNO
29      ALUNO-30            7
75      ALUNO-76            7
456    ALUNO-457            7
505    ALUNO-506            7
759    ALUNO-760            7
802    ALUNO-803            7
885    ALUNO-886            7
1094  ALUNO-1095            7
1281  ALUNO-1282            7

In [67]:
dados_externos.isnull().sum()

Município                                            0
Salário médio mensal dos trabalhadores formais       0
Índice de Desenvolvimento Humano Municipal (IDHM)    0
PIB per capita                                       0
Área da unidade territorial                          0
População no último censo                            0
Densidade demográfica habitante/km²                  0
Total Homens                                         0
Total Mulheres                                       0
dtype: int64

In [68]:
dados_externos.describe()

       População no último censo  Total Homens  Total Mulheres
count               6.450000e+02  6.450000e+02    6.450000e+02
mean                6.885463e+04  3.317268e+04    3.568196e+04
std                 4.644210e+05  2.186790e+05    2.457487e+05
min                 9.070000e+02  4.590000e+02    4.480000e+02
25%                 5.466000e+03  2.748000e+03    2.727000e+03
50%                 1.316300e+04  6.705000e+03    6.518000e+03
75%                 3.832400e+04  1.905900e+04    1.982400e+04
max                 1.145200e+07  5.386695e+06    6.065304e+06